{% extends "base/index.html" %}
{% block content %}
<section>
    <div class="col-lg-8 mx-auto">
        <article class="media mx-5 mb-2">
            <div class="media-body">
                <h3>{{ object.title }}</h3>
                <div class="article-metadata">
                    <small> Jonathan Kaneshiro | {{ object.date_posted | date:"M d, Y" }}</small>
                </div>
                <p class="blogpost-article-content">{{ object.content}}</p>
                <span> Tags: </span>
                {% if blogposts.tags.all%}
                {% for tag in blogposts.tags.all %}
                <span class="tag"> {{ tag }}</span>
                {%  endfor %}
                {% else %}
                <span> N/A</span>
                {% endif %}
            </div>
        </article>
    </div>
</section>
{% endblock content %}