{% extends 'base/index.html' %}
{% load static %}
{% block content %}

<body>
    <!-- About Section -->
    <section class="portfolio">
        <div class="container" id="about">
            <h2 class="text-center">About</h2>
            <hr class="star-light mb-5">
            <div class="row">
                <div class="col-lg-6 ml-auto text-center text-white">
                    <p>Recent UC Riverside graduate with a bachelor's degree in computer science. Currently looking for
                        a
                        full-time software engineering position in mobile development or computer graphics.</p>
                    <p>During my college career, I participated in a plethora of programming-related projects such as
                        developing a
                        virtual reality game, coding rendering scripts, directing an animated short in Maya, and
                        building the user
                        interface for an Android app. I also interned with the USC Institute for Creative Technologies
                        and built
                        their animation pipeline using Unity3D Game Engine.</p>
                </div>
                <div class="col-lg-4 mr-auto pt-4 text-center text-white">
                    <p>Outside of tech, I have a couple of side hustles — thrift reselling and investing in the stock
                        market —
                        which have taught me the value of data analytics, research, financial technology (Fintech), and
                        customer
                        service. </p>
                </div>
            </div>
        </div>
    </section>

</body>

{% endblock content %}