<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-light navbar-expand-sm fixed-bottom" id="mainNav">
    <div class="container">
        <button class="navbar-toggler rounded" id="navbar_icon" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% with request.resolver_match.url_name as url_name %}
            <ul class="navbar-nav mx-auto">

                <!-- Projects -->
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-2 px-lg-3 js-scroll-trigger text-center 
                        {% if url_name == 'projects-page' %} 
                            active 
                        {% elif url_name == 'project-post-page' %} 
                            active 
                        {% elif url_name == 'project-post-carousel' %} 
                            active 
                        {% endif %}" href="{% url 'projects-page'%}">
                        Projects
                    </a>
                </li>

                <!-- About -->
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-2 px-lg-3 js-scroll-trigger text-center
                        {% if url_name == 'about-page' %}active{% endif %}" href="{% url 'about-page'%}">
                        About
                    </a>
                </li>

                <!-- Blog -->
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-2 px-lg-3 js-scroll-trigger text-center 
                        {% if url_name == 'blog-page' %} active {% elif url_name == 'blog-post-detail' %} active {% endif %}"
                        href="{% url 'blog-page'%}">
                        Blog
                    </a>
                </li>

                <!-- Tutoring -->
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-2 px-lg-3 js-scroll-trigger text-center
                        {% if url_name == 'tutor-page' %} active {% endif %}" href="{% url 'tutor-page' %}">
                        Tutoring
                    </a>
                </li>
            </ul>
            {% endwith %}

        </div>
    </div>
</nav>