{% extends 'base/index.html' %}
{% block content %}
<a class="btn btn-sm btn-outline-info ml-4" href="{% url 'projects-page' %}">&laquo Back to Posts</a>
<section class="mx-5">

    <div class="row">
        <div class="col-lg-8 mx-auto mb-5 pb-5">

            <!-- Title -->
            <h3>{{ post.title }}</h3>

            <!-- Project Dates -->
            {%  if post.end_date is None %}
            <h6>{{post.start_date | date:"M Y" }} - Present</h6>
            {% else %}
            <h6>{{post.start_date | date:"M Y" }} - {{post.end_date | date:"M Y" }}</h6>
            {%  endif %}

            <!-- Sub-Heading -->
            <h4>{{post.sub_heading }}</h4>
            <hr class="light">

            <!-- Problem -->
            <h3 class="mt-3">Problem</h3>
            <h4>{{post.problem | linebreaks}}</h4>

            <!-- Objective -->
            <h3 class="mt-3">Objective</h3>
            <h4> {{post.objective | linebreaks}}</h4>

            <!-- Description -->
            <h3 class="mt-3">Description </h3>
            <h4> {{post.description | linebreaks}}</h4>

        </div>

        <div class="col-lg-3 mx-auto mb-5">

            <!-- Links -->
            {%  if post.github_link != None  %}
            <a class="btn btn-light mb-1" href="{{post.github_link }}" target="blank">
                View on GitHub
            </a>
            {% else %}
            <a class="btn btn-light mb-1" href="{{post.web_link }}" target="blank">
                View Project
            </a>
            {%  endif  %}

            <!-- Carousel -->
            <h3 class="mt-3">Images</h3>
            <div id="carousel_image" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner carousel_img_style">
                    {% for p in photos %}
                    <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %} ">
                        <a href="{% url 'project-post-carousel' post.slug %}">
                            <img class="d-block w-100 " src="{{p.image.url}}" alt="Slide">
                        </a>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carousel_image " role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel_image " role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!-- Features -->
            <h3 class="mt-3">Features</h3>
            <h4> {{post.features | linebreaks}}</h4>

            <!-- Project Status -->
            <h3 class="mt-3"> Project Status</h3>
            <!-- May need to change the many-to-many relationship -->
            {% for status in post.project_status.all %}
            <h4> {{status | linebreaks}}</h4>
            {%  endfor %}

            <!-- Tags -->
            <h3 class="mt-3">Tags</h3>
            {% for tag in post.tags.all %}
            <span class="tag"> {{ tag }}</span>
            {%  endfor %}
        </div>
    </div>
</section>

{% endblock content %}