{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<!-- Projects Grid Section -->
<section class="portfolio" id="projects">
    <h2 class="text-center mb-0 ">Projects</h2>
    <hr class="star-light mb-5">

    <div class="projects-grid">
        {% for post in posts %}
        <div class="grid-element">
            <img class="thumbnail" src="{{post.thumbnail.url}}">
            <h1>{{ post.title }}</h1>
            <h3>{{ post.sub_heading }}</h3>
            <a href="#">View More</a>
        </div>
        {% endfor %}
    </div>


    <!-- <div class="row mx-2">
        <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#carnivalgames">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <h2> Virtual Reality</h2>
                    </div>
                </div>
                <img class="img-fluid" src="img/portfolio/carnival.png" alt="">
            </a>
        </div>
        <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#rpark">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <h2> Android App</h2>
                    </div>
                </div>
                <img class="img-fluid" src="img/portfolio/app.png" alt="">
            </a>
        </div>
        <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#virtualhumansinternship">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <h2>USC ICT Internship</h2>
                    </div>
                </div>
                <img class="img-fluid" src="img/portfolio/blendshapes.png" alt="">
            </a>
        </div>
        <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#Pomo">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <h2>Animated Short</h2>
                    </div>
                </div>
                <img class="img-fluid" src="img/cs193/PomoRig.png" alt="">
            </a>
        </div>
        <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#ballheroID">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <h2>3D Platform Game</h2>
                    </div>
                </div>
                <img class="img-fluid" src="img/portfolio/ballhero_header.png" alt="">
            </a>
        </div>
        <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#ee120bID">
                <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                    <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                        <h2>Embedded Systems</h2>
                    </div>
                </div>
                <img class="img-fluid" src="img/portfolio/led_rainbow.jpeg" alt="">
            </a>
        </div>
    </div> -->
</section>
</div>
</div>
</section>

{% endblock content %}