{% extends 'base/index.html' %}
{% load static %}

{% block content %}
<!-- Projects Grid Section -->
<section>
    <div class="projects-grid py-4 m-4">
        {% for post in posts %}
        <a href="{% url 'project-post-page' post.slug %}">
            <div class="grid-element pb-4">
                <img class="thumbnail" src="{{post.thumbnail.url}}">
                <div class="post-description">
                    <h3>{{ post.title }}</h3>
                    <h6>{{ post.sub_heading }}</h6>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <div class="pagination">
        <!-- TODO: Work on 404 error page -->
        {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4 mx-1" href="?page={{ page_obj.previous_page_number }}">&laquo</a>
        {% else %}
        <a class="btn btn-outline-info disabled mb-4 mx-1">&laquo</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-info mb-4 mx-1" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <a class="btn btn-outline-info mb-4 mx-1" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4 mx-1" href="?page={{ page_obj.next_page_number }}">&raquo</a>
        {% else %}
        <a class="btn btn-outline-info disabled mb-4 mx-1">&raquo</a>
        {% endif %}
        {% endif %}
    </div>
</section>
{% endblock content %}