{% extends 'base/index.html' %}
{% load static %}
{% block content %}

<section>
    <div class="row">
        <div class="col-lg-5 ml-auto text-center">
            <div class="checkout-container pb-1 m-3">
                <!-- form? -->
                <!-- <form method="post" class="m-5">
                        {% csrf_token %}
                        <div>
                            <label for="amount">Choose Amount:</label>
                            <br>
                            <select required name="amount" id="amount">
                                <option value="175">$175 --- 5 weeks</option>
                                <option value="350">$350 --- 10 weeks</option>
                                <option selected value="525">$525 --- 15 weeks (recommended)</option>
                                <option value="700">$700 --- 20 weeks</option>
                            </select>
                        </div> -->

                <!-- <div class="form-row">
                            <label for="card-element">
                                Credit or debit card
                            </label>
                            <div id="card-element" style="width: 30em">
                                A Stripe Element will be inserted here.
                            </div>

                            Used to display form errors.
                            <div id="card-errors" role="alert"></div>
                        </div> -->

                <button class="btn btn-primary m-1" id="buy_now_btn">Submit Payment</button>
                <!-- </form> -->
            </div>
        </div>
        <div class="col-lg-5 m-auto p-auto text-white">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <p>
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            </p>
            <p>
                In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis
                pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
                dapibus in, viverra quis
            </p>
        </div>
    </div>
</section>
<!-- Stripe API -->
<script src="https://js.stripe.com/v3/"></script>
<script>
    // Locate buy button
    const buy_now_btn = document.querySelector('#buy_now_btn')

    buy_now_btn.addEventListener('click', event => {
        // Call your backend to create the Checkout Session
        fetch('/tutor/charge/', {
            method: 'POST',
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                var stripe = Stripe(session.STRIPE_TEST_PK);
                return stripe.redirectToCheckout({ sessionId: session.session_id });
            })
            .then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.

                // TODO: Alert on screen 
                if (result.error) {
                    alert(result.error.message);
                }
            });
    })
</script>
{% endblock content %}